@import '../../styles/vars.scss';

.wrapper {
    width: 100%;
    @extend %flex-center-center-column;
    &__firstSection {
        gap: 10px;
        width: 80%;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
    }
};

.pokemonsList {
    flex-wrap: wrap;
     @extend %flex-center-center;
}